
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    
}
.softSkills,
.nombre{
    font-family:monospace;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 15px rgb(2, 233, 33);
}
.skills,
.about {
  
    font-family:monospace;
    font-size: 22px;
    color: rgb(247, 247, 247);
    text-shadow:  0 0 10px rgb(0, 0, 0);;
    border: 2px solid rgb(2, 233, 33);
    box-shadow: 0 0 5px rgb(2, 233, 33);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .about h1, .skills h2 {
    border: 2px solid rgb(2, 233, 33);
    box-shadow: 0 0 5px rgb(2, 233, 33);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
 